{% extends "photoapp/base.html" %}

{% block title %}myPhotoApp{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12 m8 push-m2">
            <div class="index-body">
                <i id="logo" class="mdi mdi-camera-iris"></i>
                <h3 id="title">myPhotoApp</h3>
                <h5 id="description"><em>Style up your pictures, Share with the world!</em></h5>
                <a href="{% url 'social:begin' 'facebook' %}" id="facebook-button" class="waves-effect waves-light btn hoverable"><i class="mdi mdi-facebook left"></i>Login with Facebook to get started</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}