body {
    background: #e9eaed;
    background-size: cover;
    height: 100%;
    color: #361414;
}

/* Login page styling */
#facebook-button {
    background-color: #3B5998;
    height: 100%;
}

.index-body {
    background-color: #fff;
    width: 100%;
    min-height: 100%;
    padding: 50px 20px;
    margin-top: 7%;
    text-align: center;
}

#logo {
    font-size: 200px;
    color: #ff471a;
    opacity: 0.9;
}

#title {
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-bottom: 25px;
    text-shadow: ;
}

#description {
    margin-bottom: 35px;
    font-weight: 200;
}

/* end of styling */

/* home page styling */
#logo-navbar {
    color: #ff471a;
    margin: 0px 5px;
}

nav .nav-wrapper {
    background: #fff;
    color: #361414;
    padding-left: 20px;
}

nav .nav-wrapper i {
    display: inline-block;
}

nav .brand-logo {
    color: #361414;
}

nav a, nav ul a {
    color: #361414;
}

nav ul li {
    padding: 0px 5px;
}

.profile-pic {
    margin-top: 7px;
}

#logout {
    padding-left: 0px
}

.sidebar {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    top: 0;
    min-height: 100%;
    background-color: #fff;
    padding: 65px 20px 20px;   
}

.content {
    background-color: #fff;
}

#upload-button {
    background-color: #476cb8;
    width: 100%;
}